.landing {
  background: url("../assets/backgroundImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 0 50px 10px rgba(218, 241, 7, 0.925);
}

.opening {
  color: rgb(255, 255, 255);
  //   backdrop-filter: blur(0.083rem);

  .romanian-text {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 10px rgba(96, 236, 103, 0.5);
  }

  .english-text {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 10px rgba(96, 236, 103, 0.5);
  }
}
