@import "../scss/variables";

// .landing {
//   background: linear-gradient(
//       to right,
//       rgba(0, 0, 0, 0.534),
//       rgba(0, 0, 0, 0.623)
//     ),
//     url("../assets/backgroundImage.jpg") no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   position: relative;
// }
.landing {
  background: linear-gradient(
      to right,
      rgba(1, 34, 34, 0.651),
      rgba(1, 34, 34, 0.568)
    ),
    url("../assets/backgroundImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  .swiper_container {
    padding: 2rem 0;
    position: relative;

    .swiper-slide {
      width: 37rem;
      height: 42rem;
      position: relative;

      img {
        width: 37rem;
        height: 42rem;
        border-radius: 2rem;
        object-fit: cover;
      }
    }

    .slider-controller {
      position: relative;
      bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper-button-next {
        left: 58% !important;
        transform: translateX(-58%) !important;
      }

      .slider-arrow {
        background: var(--white);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        left: 42%;
        transform: translateX(-42%);
        filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));

        ion-icon {
          font-size: 2rem;
          color: #222224;
        }

        &::after {
          content: "";
        }
      }

      .swiper-pagination {
        position: relative;
        width: 15rem !important;
        bottom: 1rem;

        .swiper-pagination-bullet {
          filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
        }

        .swiper-pagination-bullet-active {
          background: var(--primary);
        }
      }
    }
  }

  @media (max-width: 500px) {
    .swiper_container {
      height: 47rem;
    }
    .swiper-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .swiper-slide img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }

  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
}
.icon {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 999;
  color: $teal;
  &:hover {
    cursor: pointer;
  }
}

.opening {
  color: $whiteTeal;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.932);
  backdrop-filter: blur(0.163rem);

  .romanian-text {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 143, 141, 0.541);
  }

  .english-text {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 143, 141, 0.541);
  }
}

@media screen and (max-width: 968px) {
  .opening {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0 2.5rem;
  }
}
