* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  font-family: "Montserrat", sans-serif;
  --tw-ring-color: none;
  --tw-ring-offset-color: none;
  --tw-ring-color: none;
  --tw-ring-offset-shadow: none;
  --tw-ring-shadow: none;
  --tw-shadow: none;
}

p {
  cursor: default;
}
