/* Color Theme Swatches in Hex */
$veryLightTeal: #e3faf2b2;
$lightTeal: #d8ffdb;
$teal: #008f8c;
$heavyTeal: #015958;
$darkTeal: #023535;
$whiteTeal: #f4fffbe3;

/* Color Theme Swatches in RGBA */
$Teal-and-Mint-1-rgba: rgba(199, 255, 237, 1);
$Teal-and-Mint-2-rgba: rgba(216, 255, 219, 1);
$Teal-and-Mint-3-rgba: rgba(0, 143, 140, 1);
$Teal-and-Mint-4-rgba: rgba(1, 89, 88, 1);
$Teal-and-Mint-5-rgba: rgba(2, 53, 53, 1);
